@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Bungee Spice', sans-serif;

}

.button {
  padding: 20px;
  width: 59px;
  margin: 0 3px;
  border: 1px solid black;
  border-radius: 12px;
  background: ghostwhite;

  cursor: pointer;
}

.button1 {
  font-size: 2rem;
  padding: 20px;
  width: 70px;
  margin: 1px 4px;
  border: 1px solid black;
  border-radius: 12px;
  background: ghostwhite;
  cursor: pointer;
}

.button2 {
  padding: 20px;
  width: 59px;
  margin: 0 3px;
  border: 1px solid black;
  border-radius: 12px;
  background: darkorange;

  cursor: pointer;
}



.row {
  margin: 8px 0px;
}

.row input {

  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}